<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting label="30001" type="number" id="ws_port" default="9100"/>
        <setting label="30006" type="folder" id="export_folder" option="writeable"/>
    </category>
    <!--
    <category label="30002">
        <setting label="30003" type="labelenum" id="db_type" lvalues="30004|30005" default="30004"/>
    </category>
    -->
</settings>
